<h2>Главная страница</h2>
<br />
<p>
    Пользователь вводит длины сторон треугольника.
    Приложение проверяет можно ли составить из
    данных сторон треугольник. Если да, то приложение
    вычисляет площадь треугольника.
</p>
<p>Сайт содержит в себе следующие страницы:</p>
<ul>
    <li>Главная страница, содержащая ссылки на все другие страницы, а также описание решаемой задачи.</li>
    <li>Страница для ввода данных для решения задачи.</li>
    <li>Страница для вывода всех решений задачи, для которых были введены данные пользователем.</li>
    <li>Страница для показа информации о создателе приложения.</li>
</ul>
