<!doctype html>
<html lang="ru">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>#3 practice</title>
  </head>

  <body>
    <h1>Площадь треугольника</h1>
    <nav class="navbar navbar-light bg-faded">
      <div class="nav navbar-nav">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/triangles/new">Input data</a>
            <a class="navbar-brand" href="/triangles">Output</a>
            <a class="navbar-brand" href="/about">Info</a>
            <%= yield %>
        </div>
      </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
