<h2>Приглашения</h2>
<form method="post">
  <div class="form-row">
  <div class="form-group">
  <label for="status">Статус</label>
    <select id="status" name="status" class="form-control">
      <option>Друг</option>
      <option>Коллега</option>
      <option>Парикмахер</option>
      <option>Семья</option>
      <option>Доставка</option>
      <option>Такси</option>
    </select>
    </div>
    <div class="form-group col-md-4">
    <label for="event">Событие</label>
    <input type="text" class="form-control" id="event" name="event" placeholder="День рождения">
  </div>
  <div class="form-group col-md-4">
  <label for="mes">Сообщение получателям</label>
  <input type="text" class="form-control" id="mes" name="mes" placeholder=" ">
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>