<form method="post">
<h2>Люди которым не выставлен счёт за месяц по указанному типу</h2>
<div class="form-group">
<label for="month">Месяц выставления счёта</label>
<select class="form-control" id="month" name="month">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option> 
  <option>11</option>
  <option>12</option>
</select>
</div>
<div class="form-group">
<label for="type">Вид счета</label>
<select id="type" name="type" class="form-control">
<option>Квартплата</option>
<option>Плата за электричество</option>
<option>Плата за телефон</option>
</select>
</div>
<button type="submit" class="btn btn-primary">Показать людей которым не выстален счёт</button> 
</form>
